* {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    color:antiquewhite;
}

body {
    padding: 1rem;
    background-color: #1d2538;
}

header {
    text-align: center;
    padding: 15px;
}

#search-bar{ 
    padding: 20px;
    text-align: center;
}

#search-button{
    color: black;
}

#searchByName{
    color:black;
}

footer p{
    opacity: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jikan-logo {
    height: 50px;
    margin-left: 50px;
}

#anime-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.anime{
    width: min-content;
}

.close-div{
    text-align: end;
}

.close-button{
    color:black;
    font-size: 8px;
    border-radius: 12px;
}

.close-button:hover{
    background-color: #1d2538;
    color:white;
}